<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})"
      xmlns:text-decoration="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title th:text="${title}">Exam Completed</title>

</head>
<body>
<section>
  <h2 align="center" text-decoration: overline underline;> You have already completed your exam!</h2>
<!--  <h2 align="center">Name : <span th:text="${name}"></span></h2>-->
<!--  <h2 align="center">Your Score: <span th:text="${score}"></span></h2>-->

</section>
</body>
</html>