<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>Home Page</title>
</head>
<body>

<section
        class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="font-weight-bold">Exam Management</h1>
        <p>"Welcome to E-Exam, a comprehensive platform designed to streamline
            and simplify the process of managing exams. Our system offers a wide range of features
            and functionalities to assist educators, administrators, and students in organizing,
            conducting, and evaluating exams efficiently. With Exam Management, you can create
            and schedule exams, generate questionnaires, monitor progress, and generate insightful
            reports. Our user-friendly interface and intuitive tools ensure a seamless experience
            for all users, empowering them to focus on the most important aspect: the assessment
            of knowledge. Join us today and revolutionize the way you handle exams!"</p>

        <input class="btn bg-primary bt-lg text-white" type="button" th:onclick="location.href='/user/index';" value="Get Start" />

    </div>
</section>
</body>
</html>